<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>乐优商城--我的订单</title>
     <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css" />
</head>

<body>
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
<div id="app">
<!-- 头部栏位 -->
    <div id="nav-top">
        <ly-top/>
    </div>

    <!--body-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">
                    <ly-left activeindex="1-1" :user="user"/>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6 order-pay">
                    <div class="body">
                        <div class="table-title">
                            <table class="sui-table  order-table">
                                <tr>
                                    <thead>
                                    <th width="35%">宝贝</th>
                                    <th width="5%">单价</th>
                                    <th width="5%">数量</th>
                                    <th width="8%">商品操作</th>
                                    <th width="10%">实付款</th>
                                    <th width="10%">交易状态</th>
                                    <th width="10%">交易操作</th>
                                    </thead>
                                </tr>
                            </table>
                        </div>
                        <div class="order-detail">
                            <div class="orders">

                                <div v-for="order in orders">
                                    <!--order1-->
                                    <div class="choose-title">
                                        <label data-toggle="checkbox" class="checkbox-pretty ">
                                            <input type="checkbox" checked="checked"><span v-text="order.orderStatus.createTime + ' 订单编号：'+order.orderId"></span>
                                        </label>
                                        <a class="sui-btn btn-info share-btn">分享</a>
                                    </div>
                                    <table class="sui-table table-bordered order-datatable">
                                        <tbody>
                                        <tr  v-for="(orderDetail,i) in order.orderDetails">
                                            <td width="35%">
                                                <div class="typographic"><img width="82px" height="82px" :src="orderDetail.image" />
                                                    <a href="#" class="block-text" v-text="orderDetail.title"></a>
                                                    <span class="guige">规格：{{calcSpec(orderDetail.spec)}}</span>
                                                </div>
                                            </td>
                                            <td width="5%" class="center">
                                                <ul class="unstyled">
                                                    <li v-text="'¥'+orderDetail.price"></li>
                                                </ul>
                                            </td>
                                            <td width="5%" class="center" v-text="orderDetail.num"></td>
                                            <td width="8%" class="center">

                                            </td>
                                            <td width="10%" class="center" v-if="i===0" :rowspan="order.orderDetails.length">
                                                <ul class="unstyled">
                                                    <li v-text="'¥'+order.actualPay"></li>
                                                    <li>（含运费：￥0.00）</li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center" v-if="i===0" :rowspan="order.orderDetails.length">
                                                <ul class="unstyled">
                                                    <li v-text="calcStatus(order.orderStatus.status)"></li>
                                                    <li><a href="home-orderDetail.html" class="btn">订单详情 </a></li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center" v-if="i===0" :rowspan="order.orderDetails.length">
                                                <ul class="unstyled">
                                                    <li><a href="#" class="sui-btn btn-info" v-text="calcOperation(order.orderStatus.status)"></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
<!--                            <div class="choose-order">-->
<!--                                <div class="sui-pagination pagination-large top-pages">-->
<!--                                    <ul>-->
<!--                                        <li class="prev disabled"><a href="#">«上一页</a></li>-->
<!--                                        <li class="active"><a href="#">1</a></li>-->
<!--                                        <li><a href="#">2</a></li>-->
<!--                                        <li><a href="#">3</a></li>-->
<!--                                        <li class="dotted"><span>...</span></li>-->
<!--                                        <li class="next"><a href="#">下一页»</a></li>-->
<!--                                    </ul>-->
<!--                                    <div><span>共10页&nbsp;</span><span>-->
<!--                                                到-->
<!--                                                <input type="text" class="page-num"><button class="page-confirm" onclick="alert(1)">确定</button>-->
<!--                                                页</span></div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="clearfix"></div>
                        </div>

                        <div class="like-title">
                            <div class="mt">
                                <span class="fl"><strong>热卖单品</strong></span>
                            </div>
                        </div>
                        <div class="like-list">
                            <ul class="yui3-g">
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike01.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>¥</em>
                                                <i>3699.00</i>
                                            </strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有6人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike02.png" />
                                        </div>
                                        <div class="attr">
                                            <em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>¥</em>
                                                <i>4388.00</i>
                                            </strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike03.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>¥</em>
                                                <i>4088.00</i>
                                            </strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike04.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>¥</em>
                                                <i>4088.00</i>
                                            </strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<div class="clearfix footer"></div>
<script type="text/javascript">$(".footer").load("foot.html");</script>
<!--页面底部END-->

<!--页面顶部，由js动态加载-->
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/plugins/jquery/jquery.cookie.js"></script>
<script type="text/javascript">
    let ok = {};
    var indexVm = new Vue({
        el:"#app",
        ly,
        components:{
            lyTop:() => import('./js/pages/top.js'),
            lyLeft:() => import('./js/pages/left.js')
        },
        data:{
            user: null,
            orders:[]
        },
        methods:{
            loadData(){
                ly.verifyUser().then(resp=>{
                    this.user = resp.data;
                    ly.http.get("/order/business").then(resp=>{
                        this.orders = resp.data;
                        ok = resp.data;
                        this.orders.forEach(o=>{
                            o.actualPay = ly.formatPrice(o.actualPay)
                            o.orderDetails.forEach(od=>{
                                od.price = ly.formatPrice(od.price)
                            })
                        });
                    })
                }).catch(()=>{
                    // 未登录，跳转到登陆页面
                    location.href = "/login.html?returnUrl=" + location.href;
                })
            },
            calcStatus(statusCode){
                switch (statusCode) {
                    case 1:
                        return "等待买家付款"
                        break;
                    case 2:
                        return "已付款，等待卖家发货"
                        break;
                    case 3:
                        return "已发货，等待确认收货"
                        break;
                }
            },
            calcSpec(spec){
                var spe = JSON.parse(spec);
                var result = '';
                for (var k in spe){
                    result += spe[k] + ' '
                }
                return result;
            },
            calcOperation(statusCode){
                switch (statusCode) {
                    case 1:
                        return "立即付款"
                        break;
                    case 2:
                        return "确认收货"
                        break;
                }
            }
        },
        created(){
            this.loadData();
        },
    });
</script>
</body>
</html>